<h2 class="page-header">Profile Page</h2>
<ul class="list-group">
  <li class="list-group-item">Username: {{ username }}</li>
  <li class="list-group-item">Email: {{ email }}</li>
  <li class="list-group-item">Role: {{ role }}</li>
</ul>
<a class="btn btn-success" (click)="changePasswordBtn()">Change Password</a>



<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- ChangePassword Form -->

<div *ngIf="ChangePassOpen" class="col-md-4">
    <h2 class="page-header">Change Password</h2>
<form [formGroup]="ChangePassform" (submit)="onChangePasswordSubmit()" >

  <!-- Password Field  -->
  <div class="form-group">
    <label for="password">Password</label>
    <div [ngClass]="{'has-error': ChangePassform.controls.password.errors && ChangePassform.controls.password.dirty, 'has-success': ChangePassform.controls.password.valid && ChangePassform.controls.password.dirty }">
      <input class="form-control" type="password" name="password" formControlName="password" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="ChangePassform.controls.password.errors?.required && ChangePassform.controls.password.dirty">This field is required.</li>
      </ul>
    </div>
  </div>

  <!-- New Password Field  -->
  <div class="form-group">
    <label for="newPassword"> New Password</label>
    <div [ngClass]="{'has-error': ChangePassform.controls.newPassword.errors && ChangePassform.controls.newPassword.dirty, 'has-success': ChangePassform.controls.newPassword.valid && ChangePassform.controls.newPassword.dirty }">
      <input class="form-control" type="password" name="newPassword" formControlName="newPassword" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="ChangePassform.controls.newPassword.errors?.required && ChangePassform.controls.newPassword.dirty">This field is required.</li>
      </ul>
    </div>
  </div>
  <!-- Submit Button -->
  <input [disabled]="!ChangePassform.valid || processing" class="btn btn-primary" type="submit" value="Change" />
  <a class="btn btn-success" (click)="changePasswordBtn()">Cancel</a>
</form>
</div>