
<!-- Custom Success/Error Message -->
<div id="top" ></div>
<!-- New Post Button -->
<!-- Panel Start -->
<div>
  <!-- Panel Outer Layer -->
  <div  *ngFor="let blog of blogPosts">
<div [ngClass]="blog.emergency ? 'panel panel-danger' : 'panel panel-primary'" *ngIf="!blog.close && (role === 'Display') ">
    <!-- Panel Title -->
    <div class="panel-heading">
      <h3 class="panel-title">{{ blog.title }} {{ blog.JobNo }}</h3>
    </div>

    <!-- Panel Body -->
    
    <div class="panel-body">
      <div class="col-md-6">
      <ul class="list-unstyled">
        <li><strong>Client: </strong> {{blog.Client}}</li>
        <li><strong>Address: </strong> {{blog.Address}}</li>
        <!-- <li><strong>Licence Required: </strong> {{blog.LicenceRequired}}</li> -->
        <li><strong>StartDate:</strong> {{blog.StartDate | date:'dd MMM yyyy'}}</li>
        
      </ul>
    </div>
    </div>

    <!-- Panel Footer Start -->
    <div class="panel-footer">
      <strong>Posted by: </strong>{{ blog.createdBy }}
      <br />
      <strong>Date: </strong>{{ blog.createdAt | date:'dd MMM yyyy hh:mm a' }}
      <br />
     

    </div>


  
    </div>
  </div>
  <br />
  <br />
  
  <!-- Panel Outer Layer -->
</div>
<!-- Panel End --> 



<div id="bottom" ></div>