<div class="jumbotron text-center">
  <h1>Richard Nolan Civil Engineering</h1>
  <p class="lead">Welcome to the RNCE Application by <strong>Claudiu Ionita</strong></p>
  <div>


    <button mat-raised-button *ngIf="!authService.loggedIn()" routerLink="/login">Login</button>
    <button mat-raised-button color="primary" *ngIf="authService.loggedIn()" routerLink="/blog">View Jobs</button>
    <button mat-raised-button color="warn" *ngIf="authService.loggedIn()" routerLink="/licence">View Licences</button>
    <button mat-raised-button *ngIf="role==='Admin'&& authService.loggedIn()" routerLink="/register">Add User</button>
    <button mat-raised-button color="accent" *ngIf="role==='Admin'&& authService.loggedIn()" routerLink="/Reports-Jobs">Jobs Report</button>
    <button mat-raised-button color="primary" *ngIf="role==='Display'&& authService.loggedIn()" routerLink="/display">Display</button>

  </div>

</div>



