<h1 class="page-header">Jobs Feed <h3>{{this.queue}} Job(s) in the Queue</h3></h1>


<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- New Post Button -->
<div class="row">
  <div class="col-md-6">
<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">New Job</button>

<!-- Reload Button -->
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadBlogs()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<!-- Notifications Button -->
<div class="dropdown" *ngIf="!newPost">
  <!-- Dislike Button -->
  <button type="button" name="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-bell">&nbsp;</span>Notifications  <span class="badge">{{this.co}}</span></button>
  <!-- Dropdown Menu Items -->
  <div class="dropdown-content">
    <div  *ngFor="let notification of Notifications"><div *ngIf="(notification.author !== username) && (!notification.seen.includes(username)) "><tr>
        <td ><strong>{{notification.author}}</strong> {{notification.action}} <strong>{{notification.changesTo}}</strong> at <strong>{{notification.createdAt | date:'dd MMM yyyy hh:mm a'}}</strong>.</td>
      <td><span style="cursor: pointer" class="glyphicon glyphicon-remove " (click)="seenNotification(notification._id)"></span></td>

    </tr>
    </div></div>
  </div>

  </div>
  <a *ngIf="!newPost" [routerLink]="['/closed-blog/']"><button type="button" name="button" class="btn btn-sm btn-danger">Closed Jobs</button></a>
</div>
<div class="col-md-3">

</div>
<div  class="col-md-3">
    <input [hidden]="newPost"  #box (keyup)="0" placeholder="Search By Job No">

  </div>
</div>
<br />
<br />

<!-- New Blog Forms -->
<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit() " *ngIf="newPost">
  <!-- Title Input -->
  <div class="row">
  <div class="form-group col-md-9">
    <label for="title">Title</label>
    <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
      <!-- Title Input -->
      <input type="text" name="title" class="form-control" placeholder="*Job Title" autocomplete="off" formControlName="title" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter, number and no special caracters</li>
      </ul>
    </div>
  </div>
  <div class="form-group col-md-3">
    <label for="JobNo">JobNo</label>
    <div [ngClass]="{'has-success': form.controls.JobNo.valid, 'has-error': form.controls.JobNo.dirty && form.controls.JobNo.errors}">
  <!-- Job Input -->
  <input type="text" name="JobNo" class="form-control" placeholder="*Job Number" autocomplete="off" formControlName="JobNo" />
  <!-- Validation -->
  <ul class="help-block">
    <li *ngIf="form.controls.JobNo.dirty && form.controls.JobNo.errors?.required">This field is required.</li>
    <li *ngIf="(form.controls.JobNo.dirty && form.controls.JobNo.errors?.minlength) || (form.controls.JobNo.dirty && form.controls.JobNo.errors?.maxlength)">Only 5 Digits</li>
    <li *ngIf="form.controls.JobNo.dirty && form.controls.JobNo.errors?.NumericValidation2">Must be a number</li>
  </ul>
</div>
</div></div>
<div class="row">
<div class="form-group col-md-9">
  <label for="Client">Client</label>
  <div [ngClass]="{'has-success': form.controls.Client.valid, 'has-error': form.controls.Client.dirty && form.controls.Client.errors}">
<!-- Client Input -->
<input type="text" name="Client" class="form-control" placeholder="*Client" autocomplete="off" formControlName="Client" />
<!-- Validation -->
<ul class="help-block">
  <li *ngIf="form.controls.Client.dirty && form.controls.Client.errors?.required">This field is required.</li>
  <li *ngIf="(form.controls.Client.dirty && form.controls.Client.errors?.minlength) || (form.controls.Client.dirty && form.controls.Client.errors?.maxlength)">Max length: 25, Min length: 3</li>
  <li *ngIf="form.controls.Client.dirty && form.controls.Client.errors?.alphaNumericValidation">Must be a letter or number</li>
</ul>
</div>
</div>
<div class="form-group col-md-3">
  <label for="StartDate">StartDate</label>
<!-- StartDate Input -->
<input type="date" name="StartDate" class="form-control" placeholder="*StartDate"  formControlName="StartDate" />
</div></div>

<div class="row">
  <div class="form-group col-md-9">
    <label for="Address">Address</label>
    <div [ngClass]="{'has-success': form.controls.Address.valid, 'has-error': form.controls.Address.dirty && form.controls.Address.errors}">
  <!-- Address Input -->
  <input type="text" name="Address" class="form-control" placeholder="*Address" autocomplete="off" formControlName="Address" />
  <!-- Validation -->
  <ul class="help-block">
    <li *ngIf="form.controls.Address.dirty && form.controls.Address.errors?.required">This field is required.</li>
    <li *ngIf="(form.controls.Address.dirty && form.controls.Address.errors?.minlength) || (form.controls.Address.dirty && form.controls.Address.errors?.maxlength)">Max length: 200, Min length: 10</li>
  </ul>
  </div>
  </div>
  <div class="form-group col-md-3"><a class="btn btn-success" (click)="getGeolocation()">Get my Location</a><div *ngIf="this.location">Latitude:{{location.latitude}} Longitude:{{location.longitude}}</div></div>
</div>
<div class="row">
<div class="form-group col-md-4">
  <label for="SpeedOfRoad">Speed Of Road</label>
    <!-- SpeedOfRoad Input -->
      <select class="form-control" name="SpeedOfRoad" formControlName="SpeedOfRoad">
        <option >30Km/h</option>
        <option>40Km/h</option>
        <option>50Km/h</option>
        <option>60Km/h</option>
        <option>80Km/h</option>
        <option>100Km/h</option>
        <option>120Km/h</option>
      </select>
</div>

<div class="form-group col-md-4">
  <label for="LicenceRequired">Licence Required</label>
    <!-- LicenceRequired Input -->
      <select class="form-control" name="LicenceRequired" formControlName="LicenceRequired">
        <option >Yes</option>
        <option>No</option>
      </select>
</div>
<div class="form-group col-md-4">
  <label for="RoadWidth">Road Width(in meters)</label>
  <div [ngClass]="{'has-success': form.controls.RoadWidth.valid, 'has-error': form.controls.RoadWidth.dirty && form.controls.RoadWidth.errors}">
<!-- Road Width Input -->
<input type="text" name="RoadWidth" class="form-control" placeholder="*RoadWidth" autocomplete="off" formControlName="RoadWidth" />
<!-- Validation -->
<ul class="help-block">
  <li *ngIf="form.controls.RoadWidth.dirty && form.controls.RoadWidth.errors?.required">This field is required.</li>
  <li *ngIf="(form.controls.RoadWidth.dirty && form.controls.RoadWidth.errors?.minlength) || (form.controls.RoadWidth.dirty && form.controls.RoadWidth.errors?.maxlength)">Max length: 6, Min length: 1</li>
  <li *ngIf="form.controls.RoadWidth.dirty && form.controls.RoadWidth.errors?.NumericValidation">Must be a number</li>
</ul>
</div>
</div></div>

<div class="row">
    <div class="form-group col-md-4">
        <label for="CarriagewayType">Carriageway Type</label>
          <!-- CarriagewayType Input -->
            <select class="form-control" name="CarriagewayType" formControlName="CarriagewayType">
              <option >Single</option>
              <option>Dual</option>
              <option>Multiple Lanes</option>
            </select>
      </div>
<div class="form-group col-md-4">
  <label for="RoadLevel">Road Level</label><div class="dropdown">
    &nbsp;&nbsp;Help<span class=" glyphicon glyphicon-info-sign "></span>
    <div class="dropdown-content">
      <div>
        <img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/roadclasification.JPG?alt=media" alt="" width="400" height="200">
      </div>
    </div>

    </div>
  <!-- RoadLevel Input -->
      <select class="form-control" name="RoadLevel" formControlName="RoadLevel">
        <option >1&amp;2</option>
        <option>3</option>
        <option>4</option>
        <option>5&amp;6</option>
      </select>
</div>

<div class="form-group col-md-4">
  <label for="Volume">Volume(3 min count)</label>
  <div [ngClass]="{'has-success': form.controls.Volume.valid, 'has-error': form.controls.Volume.dirty && form.controls.Volume.errors}">
<!-- Volume Input -->
<input type="text" name="Volume" class="form-control" placeholder="*Volume" autocomplete="off" formControlName="Volume" />
<!-- Validation -->
<ul class="help-block">
  <li *ngIf="form.controls.Volume.dirty && form.controls.Volume.errors?.required">This field is required.</li>
  <li *ngIf="(form.controls.Volume.dirty && form.controls.Volume.errors?.minlength) || (form.controls.Volume.dirty && form.controls.Volume.errors?.maxlength)">Max length: 6, Min length: 1</li>
  <li *ngIf="form.controls.Volume.dirty && form.controls.Volume.errors?.NumericValidation">Must be a number</li>
</ul>
</div>
</div></div>
<div class="row">
<div class="form-group col-md-4">
  <label for="WorksType">Works Type</label>
  <div class="dropdown">
    &nbsp;&nbsp;Help<span class=" glyphicon glyphicon-info-sign "></span>
    <div class="dropdown-content">
      <div>

        <p>Type A – Full-time roadworks that remain in operation in all traffic flows
          and all visibility conditions. This type of works typically includes
          temporary traffic measures that will remain in position for a duration in
          excess of 24hrs.

          Type B – Part-time roadworks that remain in operation when the
          expected traffic flow is less than the available carriageway capacity. This
          type of works typically includes temporary traffic measures at off-peak
          times. With this type of works, the roadworks are such that they can be
          removed if necessary to minimise potential traffic delays.(8 hours shift)

          Type C – Roadworks that are of a short duration and involve the use of
          one or two vehicles, typically maintenance to utilities or street furniture, in
          all visibility conditions, when the expected traffic flow is less than the
          available carriageway capacity or the works do not reduce the
          carriageway width significantly.(max 2 hours works)
          </p>
      </div>
    </div>

    </div>
  <!-- WorksType Input -->
      <select class="form-control" name="WorksType" formControlName="WorksType">
        <option >A</option>
        <option>B</option>
        <option>C</option>
      </select>
</div>

<div class="form-group col-md-4">
  <label for="WorksHours">Works Hours</label>
  <!-- WorksHours Input -->
      <select class="form-control" name="WorksHours" formControlName="WorksHours" >
        <option >24Hrs</option>
        <option>Day</option>
        <option>Night</option>
        <option>Short</option>
      </select>
</div>
<div class="form-group col-md-4">
    <label for="LocationOnRoad">Location On Road/Path/Verge</label>
    <!-- LocationOnRoad Input -->
        <select class="form-control" name="LocationOnRoad" formControlName="LocationOnRoad">
          <option >Path</option>
          <option>H/S</option>
          <option>Bus Lane</option>
          <option>Lane</option>
          <option>Lane&amp;Path</option>
          <option>Bus Lane&amp;Path</option>
        </select>
  </div></div>

<div class="row">
    <div class="form-group col-md-4">
        <label for="TypeOfTrafficCR">Type Of Traffic Control Required</label>
        <!-- TypeOfTrafficCR Input -->
            <select class="form-control" name="TypeOfTrafficCR" formControlName="TypeOfTrafficCR">
              <option>Road Closed</option>
              <option>Lane Closed</option>
              <option>Temp Traffic Lights</option>
              <option>Stop&amp;Go</option>
              <option>Footpath Closed</option>
              <option>Road Narrows</option>
              <option>Convoy</option>
              <option>Contra Flow</option>
              </select>
      </div>
  <div class="form-group col-md-4">
    <label for="CrewNeeded">Crew Needed for this plan?
        </label>
      <!-- CrewNeeded Input -->
        <select class="form-control" name="CrewNeeded" formControlName="CrewNeeded">

          <option >Yes</option>
          <option>No</option>
        </select>
  </div>
  <div class="form-group col-md-4">
    <label for="NightTime">NightTime Plan Needed?
        </label>
      <!-- NightTime Input -->
        <select class="form-control" name="NightTime" formControlName="NightTime">

          <option >Yes</option>
          <option>No</option>
        </select>
  </div></div>
<div class="row">
    <div class="form-group col-md-4">
        <label for="DeliveryOnSite">Deliveries On Site?(Ex:Grab Wagen etc.)
            </label>
          <!-- DeliveryOnSite Input -->
            <select class="form-control" name="DeliveryOnSite" formControlName="DeliveryOnSite">

              <option >Yes</option>
              <option>No</option>
            </select>
      </div>

<div class="form-group col-md-4">
  <label for="AfterCare">AfterCare Plan Needed?
  </label>
    <!-- AfterCare Input -->
      <select class="form-control" name="AfterCare" formControlName="AfterCare">
        <option >Yes</option>
        <option>No</option>
      </select>
</div>
<div class="form-group col-md-4">
  <label for="Phases">No of Phases</label>
  <div [ngClass]="{'has-success': form.controls.Phases.valid, 'has-error': form.controls.Phases.dirty && form.controls.Phases.errors}">
<!-- Phases Input -->
<input type="text" name="Phases" class="form-control" placeholder="*Phases" autocomplete="off" formControlName="Phases" />
<!-- Validation -->
<ul class="help-block">
  <li *ngIf="form.controls.Phases.dirty && form.controls.Phases.errors?.required">This field is required.</li>
  <li *ngIf="(form.controls.Phases.dirty && form.controls.Phases.errors?.minlength) || (form.controls.Phases.dirty && form.controls.Phases.errors?.maxlength)">Max length: 3, Min length: 1</li>
  <li *ngIf="form.controls.Phases.dirty && form.controls.Phases.errors?.NumericValidation">Must be a number</li>
</ul>
</div>
</div>
</div>

<div class="row">
    <div class="form-group col-md-4">
        <label for="emergency">Is an Emergency</label>
        <input type="checkbox" name="emergency" formControlName="emergency">
      </div>



<div class="form-group col-md-4">
    <label for="SafetyFolder">Safety Folders is requested?</label>
      <!-- SafetyFolder Input -->
        <select class="form-control" name="SafetyFolder" formControlName="SafetyFolder">
          <option >Yes</option>
          <option>No</option>
        </select>
  </div>
  <div class="form-group col-md-4">
      <label for="PSCS">Are RNCE PSCS on the work?</label>
        <!-- PSCS Input -->
          <select class="form-control" name="PSCS" formControlName="PSCS">
              <option >Yes</option>
              <option>No</option>

          </select>
    </div>

</div>
<div class="row">
    <div class="form-group col-md-6">
        <label for="PSDP">Prelim plan received and issued to HSEQ Dept
            Af1 required/received from Client/PSDP?
            </label>
          <!-- PSDP Input -->
            <select class="form-control" name="PSDP" formControlName="PSDP">

              <option >Yes</option>
              <option>No</option>
            </select>
      </div>
</div>

  <!-- Body Input -->
  <div class="form-group ">
    <label for="body">Description</label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
      <!-- Body Input -->
      <textarea name="body" rows="8" cols="80" placeholder="*Description" class="form-control" formControlName="body"></textarea>
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500, Min length: 5</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-7" style = "border: 1px solid red ;"><h5>See some examples of photos that you may upload</h5>
      <img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/example3.JPG?alt=media" alt="" width="200" height="100">
      <img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/example2.JPG?alt=media" alt="" width="200" height="100">
      <img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/example1.JPG?alt=media" alt="" width="200" height="100">
      <br />
      <br />
    </div>
    <div class="col-md-12"><h4>Please attach photos(Location map, Working area)</h4>
  <input type="file" name="photo" placeholder="upload files" (change)="fileChangeEvent($event)" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword, image/jpg, image/jpeg, image/png, application/pdf"  multiple  />
  <ul  class="list-unstyled" *ngFor="let names of this.upl">
    <li >{{names}}</li>
  </ul></div>

</div>

  <!-- Go Back Button -->
  <div class="col-md-12"><br />
    <br /><button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
  <!-- Submit Button -->
  <button [disabled]="processing  || !form.valid" type="submit" name="button" class="btn btn-success" >Submit</button> <!-- (click)="upload()" -->
  </div>
</form>
<!-- New Blog Form -->

<!-- Panel Start -->
<div *ngIf="!newPost">
  <!-- Panel Outer Layer -->
  <div  *ngFor="let blog of blogPosts | searchFilter: 'JobNo': box.value">
<div class="panel panel-default" *ngIf="!blog.close && (role === 'TMP' || blog.createdBy === username || role === 'HS') ">
    <!-- Panel Title -->
    <div [ngClass]="(blog.Client=='Actavo' ? 'panel-heading panel-custom-actavo':'') ||
     (blog.Client=='OBELISK' ? 'panel-heading panel-custom-obelisk':'') ||
     (blog.Client=='Balfour Beatty' ? 'panel-heading panel-custom-balfour':'')||
     (blog.JobStatus=='TMP Done!' ? 'panel-heading panel-custom-done':'') ||
     (blog.emergency ? 'panel-heading panel-custom-emergency' : 'panel-heading panel-custom-normal')" >
      <h3 class="panel-title">{{ blog.title }} {{ blog.JobNo }}</h3>
    </div>

    <!-- Panel Body -->

    <div class="panel-body">
      <div class="col-md-6">
          <h4 [ngClass]="blog.JobStatus=='TMP Requested!' ? 'text-danger':'text-success'">Status: {{blog.JobStatus}}</h4>



      <ul class="list-unstyled">
        <li><strong>Client:</strong>  {{blog.Client}}</li>
        <li><strong>Address: </strong> {{blog.Address}}</li>
        <li><strong>Licence Required: </strong> {{blog.LicenceRequired}}</li>
        <li><strong>StartDate:</strong> {{blog.StartDate | date:'dd MMM yyyy'}}</li>
        <li><strong>SpeedOfRoad:</strong> {{blog.SpeedOfRoad}}</li>
        <li><strong>RoadWidth:</strong> {{blog.RoadWidth}} m</li>
        <li><strong>CarriagewayType:</strong> {{blog.CarriagewayType}}</li>
        <li><strong>RoadLevel:</strong> {{blog.RoadLevel}}</li>
        <li><strong>Volume:</strong> {{blog.Volume}} (3 min count)</li>
        <li><strong>WorksType:</strong> {{blog.WorksType}}</li>
        <li><strong>WorksHours:</strong> {{blog.WorksHours}}</li>
        <li><strong>LocationOnRoad:</strong> {{blog.LocationOnRoad}}</li>
        <li><strong>Type Of Traffic Control Required:</strong> {{blog.TypeOfTrafficCR}}</li>
        <li><strong>Crew Needed:</strong> {{blog.CrewNeeded}}</li>
        <li><strong>Night Time Plan Needed?:</strong> {{blog.NightTime}}</li>
        <li><strong>Deliveries On Site:</strong> {{blog.DeliveryOnSite}}</li>
        <li><strong>AfterCare Plan Needed?:</strong> {{blog.AfterCare}}</li>
        <li><strong>No of Phases:</strong> {{blog.Phases}}</li>
        <li><strong>Description:</strong> {{ blog.body }} </li>
        <h4>Health and Safety</h4>
        <li><strong>-Safety Folder Needed?:</strong> {{ blog.SafetyFolder }} </li>
        <li><strong>-Prelim plan received and issued to HSEQ Dept
          Af1 required/received from Client/PSDP? </strong> {{ blog.PSDP }} </li>
        <li><strong>-Are RNCE PSCS on the work? </strong> {{ blog.PSCS }} </li>
        <li><a *ngIf="blog.LocationMap" class="btn btn-sm btn-info" href="https://www.google.ie/maps/search/{{ blog.LocationMap }}" target="_blank">See on Map by Coordonates</a>
            <a class="btn btn-sm btn-success" href="https://www.google.ie/maps/search/{{ blog.Address }}" target="_blank">See on Map by Address</a></li>
      </ul>
    </div>
    <div class="col-md-6" *ngFor="let ph of blog.path">
      <a  href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{ph}}?alt=media" target="_blank"><img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{ph}}?alt=media" alt="" width="200" height="100"></a>
      {{ph}}&nbsp;&nbsp;<a  class="btn btn-sm btn-success" href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{ph}}?alt=media"  role="button" target="_blank" >Download</a><br/><br/>
    </div></div>

    <!-- Panel Footer Start -->
    <div class="panel-footer">
      <strong>Posted by: </strong>{{ blog.createdBy }}
      <br />
      <strong>Date: </strong>{{ blog.createdAt | date:'dd MMM yyyy hh:mm a' }}
      <br />
     <!--  <div *ngIf="username === blog.createdBy">
        <strong>Likes: </strong>{{ blog.likes }}
        <br />
        <strong>Dislikes: </strong>{{ blog.dislikes }}
      </div> -->

      <!-- Edit Button -->
      <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <!-- Delete Button -->
      <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
      <!-- Close Button -->
      <a [routerLink]="['/closed-blog/', blog._id]" *ngIf="(username === blog.createdBy)||(role === 'TMP')"><button type="button" name="button" class="btn btn-sm btn-success">Close</button></a>
      <button [disabled]="blog.drawing" *ngIf="role === 'TMP'" type="button" name="button" class="btn btn-lg btn-success" (click)="Drawing(blog._id)">Drawing</button>
      <button [disabled]="blog.done" *ngIf="role === 'TMP'" type="button" name="button" class="btn btn-lg btn-success" (click)="Done(blog._id)">Done</button>

      <!-- Likes Dropdown  -->
      <!-- <div class="dropdown"> -->
        <!-- Like Button -->
        <!-- <button [disabled]="blog.likedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-success" *ngIf="username !== blog.createdBy" (click)="likeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: {{ blog.likes }}</button>
        --> <!-- Dropdown Menu Items -->
       <!--  <div class="dropdown-content">
          <a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{ liker }}</a>
        </div>
      </div> -->

      <!-- Dislikes Dropdown  -->
      <!-- <div class="dropdown"> -->
        <!-- Dislike Button -->
<!--         <button [disabled]="blog.dislikedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-warning" *ngIf="username !== blog.createdBy" (click)="dislikeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: {{ blog.dislikes }}</button>
         --><!-- Dropdown Menu Items -->
        <!-- <div class="dropdown-content">
          <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of blog.dislikedBy">{{ disliker }}</a>
        </div>
      </div> -->

    </div>
    <!-- Panel Footer End -->

    <!-- Post Comment Box: Start -->
    <ul class="list-group">
      <li class="list-group-item">
        <!-- Post Comment Button -->
        <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">Post Comment</button>
        <br />
        <br />
        <div *ngIf="newComment.indexOf(blog._id) > -1">

          <!-- Form: Comment Form Start -->
          <form [formGroup]="commentForm">
            <!-- Textarea Input -->
            <label for="comment">Reply</label>
            <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
            <h5>Please attach files(Location map, Working area, TM plans)</h5>
            <input type="file" name="attachement" placeholder="upload files" (change)="fileChangeEvent($event)" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword, image/jpg, image/jpeg, image/png, application/pdf"  multiple  />
            <ul  class="list-unstyled" *ngFor="let names of this.upl">
              <li >{{names}}</li>
            </ul>
            <!-- Validation -->
            <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
              <ul class="help-block">
                <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
                <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
              </ul>
            </div>
            <!-- Post Button -->
            <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Post</button>
            <!-- Cancel Button -->
            <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">Cancel</button>
          </form>
          <!-- Form: Comment Form End -->

        </div>

        <!-- Show Comments -->
        <li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item">
          <button  class="btn btn-sm btn-info" (click)="expand(blog._id)">
            Show comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </button>
        </li>

        <!-- Hide Comments -->
        <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
          <button class="btn btn-sm btn-info" (click)="collapse(blog._id)">
            Hide Comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </button>
        </li>

        <!-- Comment -->
        <div *ngIf="enabledComments.indexOf(blog._id) > -1">
          <li *ngFor="let comment of blog.comments" class="list-group-item">
            <strong>{{ comment.commentator }}:</strong>
            <br /> {{ comment.comment }}
            <ul><li *ngFor="let attachement of comment.attachements">{{attachement}}&nbsp;&nbsp;<a class="btn btn-sm btn-success" href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{attachement}}?alt=media"  role="button" target="_blank">Download</a></li></ul>
            <strong>Created at:{{comment.createdTime | date:'dd MMM yyyy hh:mm a'}}</strong>
          </li>

        </div>
      </ul>
    <!-- Post Comment Box: End -->
    </div>
  </div>
  <br />
  <br />

  <!-- Panel Outer Layer -->
</div>
<!-- Panel End -->

