
<h1 class="page-header">Book Working dates</h1>


<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Modal Confirmation Window -->
<div class="col-md-6" *ngIf="foundLicence">
  <!-- Model Outer Layer -->
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <!-- Close Button -->
      <!-- <button type="button" name="button" class="close" data-dismiss="modal">&times;</button> -->
      <!-- Modal Title -->
      <h4 class="modal-title">Book Working dates</h4>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">
      <label for="WorksStartDate">Works Start Date</label>
      <input [disabled]="processing" type="date" name="WorksStartDate" placeholder="*StartDate" class="form-control" [(ngModel)]="licence.WorksStartDate" #WorksStartDate="ngModel" />
      <label for="WorksEndDate">Works End Date</label>
      <input [disabled]="processing" type="date" name="WorksEndDate" placeholder="*EndDate" class="form-control" [(ngModel)]="licence.WorksEndDate" #WorksEndDate="ngModel" />
      
    </div>
    

    <!-- Modal Footer -->
    <div class="modal-footer">
      <!-- Yes Button -->
      <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="BookWorksSubmit()">Book</button>
      <!-- No Button -->
      <a routerLink="/licence"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">Back</button></a>
    </div>
  </div>
  
  <br />

  <!-- Panel -->
  <div class="panel panel-primary">
    <!-- Panel Heading -->
    <div class="panel-heading">
      <!-- Panel Title -->
      <h3 class="panel-title">{{ licence.title }}</h3>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">
      {{ licence.body }}
    </div>

    <!-- Panel Footer -->
    <div class="panel-footer">
      <strong>Posted by: </strong> {{ licence.createdBy }}
      <br />
      <strong>Date: </strong> {{ licence.createdAt | date:'MMM dd, yyyy' }}
    </div>
  </div>

</div>


<button *ngIf="!foundLicence" [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="goBack()">Go Back</button>
<br />
<br />

<!-- Panel End --> 