<h1 class="page-header">Licences Feed</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- New Post Button -->
<div class="row">
    <div class="col-md-6">
<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newLicenceForm()">New Licence</button>

<!-- Reload Button -->
<button [disabled]="loadingLicences" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadLicences()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<!-- Notifications Button -->
<div class="dropdown" *ngIf="!newPost">
  <!-- Dislike Button -->
  <button type="button" name="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-bell">&nbsp;</span>Notifications  <span class="badge">{{this.co}}</span></button>
  <!-- Dropdown Menu Items -->
  <div class="dropdown-content">
    <div  *ngFor="let notification of Notifications"><div *ngIf="(notification.author !== username) && (!notification.seen.includes(username)) "><tr>
        <td ><strong>{{notification.author}}</strong> made some changes on <strong>{{notification.changesTo}}</strong> at <strong>{{notification.createdAt | date:'dd MMM yyyy hh:mm a'}}</strong>.</td>
      <td><span class="glyphicon glyphicon-remove " (click)="seenNotification(notification._id)"></span></td>
      
    </tr>
    </div></div>
  </div>
  
  </div>
  <a *ngIf="!newPost" [routerLink]="['/closed-licence/']"><button type="button" name="button" class="btn btn-sm btn-danger">Closed Licences</button></a>
</div>
<div class="col-md-3">
  
</div>
<div class="col-md-3">
    <input [hidden]="newPost" #box (keyup)="0" placeholder="Search By Title">
  </div>
</div>
<br />
<br />

<!-- New Licence Forms -->
<form [formGroup]="form" name="licenceForm" (submit)="onLicenceSubmit() " *ngIf="newPost">
  <!-- Title Input -->
  <div class="row">
  <div class="form-group col-md-9">
    <label for="title">Title</label>
    <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
      <!-- Title Input -->
      <input type="text" name="title" class="form-control" placeholder="*Licence Title" autocomplete="off" formControlName="title" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter, number and not special characters</li>
      </ul>
    </div>
  </div>
  </div>
<div class="row">
<div class="form-group col-md-9">
  <label for="Client">Client</label>
  <div [ngClass]="{'has-success': form.controls.Client.valid, 'has-error': form.controls.Client.dirty && form.controls.Client.errors}">
<!-- Client Input -->
<input type="text" name="Client" class="form-control" placeholder="*Client" autocomplete="off" formControlName="Client" />
<!-- Validation -->
<ul class="help-block">
  <li *ngIf="form.controls.Client.dirty && form.controls.Client.errors?.required">This field is required.</li>
  <li *ngIf="(form.controls.Client.dirty && form.controls.Client.errors?.minlength) || (form.controls.Client.dirty && form.controls.Client.errors?.maxlength)">Max length: 25, Min length: 3</li>
  <li *ngIf="form.controls.Client.dirty && form.controls.Client.errors?.alphaNumericValidation">Must be a letter or number</li>
</ul>
</div>
</div>
<div class="form-group col-md-3">
  <label for="StartDate">StartDate</label>
<!-- StartDate Input -->
<input type="date" name="StartDate" class="form-control" placeholder="*StartDate"  formControlName="StartDate" />
</div></div>

<div class="row">
  <div class="form-group col-md-9">
    <label for="Address">Address</label>
    <div [ngClass]="{'has-success': form.controls.Address.valid, 'has-error': form.controls.Address.dirty && form.controls.Address.errors}">
  <!-- Client Input -->
  <input type="text" name="Address" class="form-control" placeholder="*Address" autocomplete="off" formControlName="Address" />
  <!-- Validation -->
  <ul class="help-block">
    <li *ngIf="form.controls.Address.dirty && form.controls.Address.errors?.required">This field is required.</li>
    <li *ngIf="(form.controls.Address.dirty && form.controls.Address.errors?.minlength) || (form.controls.Address.dirty && form.controls.Address.errors?.maxlength)">Max length: 200, Min length: 10</li>
  </ul>
  </div>
  </div>
  
</div>
<div class="row">


<div class="form-group col-md-6 ">
  <label for="LicenceType">Select Licence Type</label>
    <!-- LicenceType Input -->
    
		<div class="radio licencetype" [ngClass]="t2class" (click)="classt2()">
		  <label>
			<input type="radio" name="LicenceType" formControlName="LicenceType" value="T2">
			<strong>T2</strong> - Excavation area limit(in meters): <strong>200m<sup>2</sup></strong><br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Valid Period: <strong>3 months</strong><br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Advance Notification Period(days): <strong>20</strong><br/>
		  </label>
		</div>
		<div class="radio licencetype" [ngClass]="t3class" (click)="classt3()">
		  <label>
			<input type="radio"  name="LicenceType" formControlName="LicenceType" value="T3">
			<strong>T3</strong> - Excavation area limit(in meters): <strong>5m<sup>2</sup></strong><br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Valid Period: <strong>3 months</strong><br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Advance Notification Period(days): <strong>20</strong><br/>
		  </label>
    </div>
    <div class="radio licencetype" [ngClass]="t4class" (click)="classt4()">
		  <label>
			<input type="radio" name="LicenceType" formControlName="LicenceType" value="T4">
			<strong>T4</strong> - Emergency Works <strong>Only</strong><br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Valid Period: <strong>48 hours</strong><br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Advance Notification Period(hours): <strong>24</strong><br/>
		  </label>
		</div>
      <!-- <select class="form-control" name="LicenceType" formControlName="LicenceType">
        <option >T2</option>
        <option>T3</option>
        <option>T4</option>
      </select> -->
</div>

<div class="col-md-6">
    <div class="form-group col-md-12">
        <label for="TMType">Traffic Management Plan Type</label>
          <!-- TMType Input -->
            <select class="form-control" name="TMType" formControlName="TMType">
              <option >Specific</option>
              <option>Generic</option>
            </select>
      </div>
<div class="form-group col-md-12">
  <label for="WorkLength">Work Length(in meters)</label>
  <div [ngClass]="{'has-success': form.controls.WorkLength.valid, 'has-error': form.controls.WorkLength.dirty && form.controls.WorkLength.errors}">
<!-- Road Width Input -->
<input type="text" name="WorkLength" class="form-control" placeholder="*WorkLength" autocomplete="off" formControlName="WorkLength" />
<!-- Validation -->
<ul class="help-block">
  <li *ngIf="form.controls.WorkLength.dirty && form.controls.WorkLength.errors?.required">This field is required.</li>
  <li *ngIf="(form.controls.WorkLength.dirty && form.controls.WorkLength.errors?.minlength) || (form.controls.WorkLength.dirty && form.controls.WorkLength.errors?.maxlength)">Max length: 4, Min length: 1</li>
  <li *ngIf="form.controls.WorkLength.dirty && form.controls.WorkLength.errors?.NumericValidation">Must be a number</li>
</ul>
</div>
</div>

<div class="form-group col-md-12">
  <label for="WorkWidth">Work Width(in meters)</label>
  <div [ngClass]="{'has-success': form.controls.WorkWidth.valid, 'has-error': form.controls.WorkWidth.dirty && form.controls.WorkWidth.errors}">
<!-- Road Width Input -->
<input type="text" name="WorkWidth" class="form-control" placeholder="*WorkWidth" autocomplete="off" formControlName="WorkWidth" />
<!-- Validation -->
<ul class="help-block">
  <li *ngIf="form.controls.WorkWidth.dirty && form.controls.WorkWidth.errors?.required">This field is required.</li>
  <li *ngIf="(form.controls.WorkWidth.dirty && form.controls.WorkWidth.errors?.minlength) || (form.controls.WorkWidth.dirty && form.controls.WorkWidth.errors?.maxlength)">Max length: 4, Min length: 1</li>
  <li *ngIf="form.controls.WorkWidth.dirty && form.controls.WorkWidth.errors?.NumericValidation">Must be a number</li>
</ul>
</div>
</div></div></div>


  <!-- Body Input -->
  <div class="form-group ">
    <label for="body">Description</label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
      <!-- Body Input -->
      <textarea name="body" rows="8" cols="80" placeholder="*Description" class="form-control" formControlName="body"></textarea>
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500, Min length: 5</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-7" style = "border: 1px solid red ;"><h5>See some examples of photos that you may upload</h5>
      <img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/example3.JPG?alt=media" alt="" width="200" height="100">
      <img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/example2.JPG?alt=media" alt="" width="200" height="100">
      <img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/example1.JPG?alt=media" alt="" width="200" height="100">
      <br />
      <br />
    </div>
    <div class="col-md-12"><h4>Please attach photos(Location map, Working area)</h4>
  <input type="file" name="photo" placeholder="upload files" (change)="fileChangeEvent($event)" accept="image/jpg, image/jpeg, image/png, application/pdf"  multiple  />
  <ul  class="list-unstyled" *ngFor="let names of this.upl">
    <li >{{names}}</li>
  </ul></div>
  
</div>

  <!-- Go Back Button -->
  <div class="col-md-12"><br />
    <br /><button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
  <!-- Submit Button -->
  <button [disabled]="processing  || !form.valid" type="submit" name="button" class="btn btn-success" >Submit</button> <!-- (click)="upload()" -->
  </div>
</form>
<!-- New Licence Form -->

<!-- Panel Start -->
<div *ngIf="!newPost">
  <!-- Panel Outer Layer -->
  <div  *ngFor="let licence of licencePosts | searchFilter: 'title': box.value">
<div  [ngClass]="licence.LicenceType=='T4' ? 'panel panel-danger' : 'panel panel-primary'"  *ngIf="!licence.close && (role === 'TMP' || licence.createdBy === username || role === 'HS') ">
    <!-- Panel Title -->
    <div class="panel-heading">
      <h3 class="panel-title">{{ licence.title }}</h3>
    </div>

    <!-- Panel Body -->
    
    <div class="panel-body">
      <div class="col-md-6">
          <h4 *ngIf="licence.phase1" class='text-danger'>Status: Request for Licence</h4>
        <h4 *ngIf="licence.phase2">Status: Applying for Licence</h4>
        <h4 *ngIf="licence.phase3">Status: Licence Uploaded, working dates need to be Booked</h4>
        <h4 *ngIf="licence.phase4">Status: Working Dates Booked waiting for Post Works Photos</h4>
        <h4 *ngIf="licence.phase5">Status: Post Works Photos Uploaded, Please mark when job is finished</h4>
        <h4 *ngIf="licence.phase6" class='text-success'>Status: Job Finished</h4>
      <ul class="list-unstyled">
        <li><strong>Client: </strong> {{licence.Client}}</li>
        <li><strong>Address: </strong> {{licence.Address}}</li>
        <li><strong>Licence Type: </strong> {{licence.LicenceType}}</li>
        <li><strong>StartDate:</strong> {{licence.StartDate | date:'dd MMM yyyy '}}</li>
        <li><strong>WorkLength:</strong> {{licence.WorkLength}} m</li>
        <li><strong>WorkWidth:</strong> {{licence.WorkWidth}} m</li>
        <li><strong>TMType:</strong> {{licence.TMType}}</li>
        <li><strong>Description:</strong> {{ licence.body }} </li>
        <li><a *ngIf="licence.LocationMap" class="btn btn-sm btn-info" href="https://www.google.ie/maps/search/{{ licence.LocationMap }}" target="_blank">See on Map by Coordonates</a>
            <a class="btn btn-sm btn-success" href="https://www.google.ie/maps/search/{{ licence.Address }}" target="_blank">See on Map by Address</a></li>
            <li *ngIf="licence.WorksStartDate"><strong>Works Starts:</strong> {{ licence.WorksStartDate | date:'dd MMM yyyy ' }} </li>
            <li *ngIf="licence.WorksStartDate"><strong>Works Ends:</strong> {{ licence.WorksEndDate | date:'dd MMM yyyy ' }} </li>
          </ul>
      
    </div><div class="col-md-6">
      <h3>Pre works photos</h3>
    <div *ngFor="let ph of licence.path">
      <a  href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{ph}}?alt=media" target="_blank"><img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{ph}}?alt=media" alt="" width="200" height="100"></a>
      {{ph}}&nbsp;&nbsp;<a  class="btn btn-sm btn-success" href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{ph}}?alt=media"  role="button" target="_blank" >Download</a><br/><br/>
    </div></div></div>
    <div class="row">
    <div class="col-md-6" >
        <h3>Licence Valid</h3>
      <div *ngFor="let lph of licence.LicencePath">
          <strong>Valid From: </strong>{{ licence.LvalidFrom| date:'dd MMM yyyy ' }} <strong>Valid To: </strong>{{ licence.LvalidTo| date:'dd MMM yyyy ' }} <br />
        <a  href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{lph}}?alt=media" target="_blank"><img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{lph}}?alt=media" alt="" width="200" height="100"></a>
        {{lph}}&nbsp;&nbsp;<a  class="btn btn-sm btn-success" href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{lph}}?alt=media"  role="button" target="_blank" >Download</a><br/><br/>
      </div></div>

      <div class="col-md-6" >
          <h3>Post works photos</h3>
        <div *ngFor="let pph of licence.pathPost">
          <a  href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{pph}}?alt=media" target="_blank"><img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{pph}}?alt=media" alt="" width="200" height="100"></a>
          {{pph}}&nbsp;&nbsp;<a  class="btn btn-sm btn-success" href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{pph}}?alt=media"  role="button" target="_blank" >Download</a><br/><br/>
        </div></div></div>
      
      <button [disabled]="!licence.phase1" *ngIf="role === 'TMP'" type="button" name="button" class="btn btn-lg btn-success" (click)="ApplyingForLicence(licence._id)">Applying</button>    
      <a [routerLink]="['/upload-licence/', licence._id]" *ngIf="role === 'TMP'"><button  [disabled]="!licence.phase2" type="button" name="button" class="btn btn-lg btn-success">Upload</button></a>
      <a [routerLink]="['/book-works/', licence._id]" *ngIf="username === licence.createdBy"><button  [disabled]="!licence.phase3" type="button" name="button" class="btn btn-lg btn-success">Book Work Date</button></a>
      <a [routerLink]="['/post-works/', licence._id]" *ngIf="username === licence.createdBy"><button  [disabled]="!licence.phase4" type="button" name="button" class="btn btn-lg btn-success">Post Works Photos</button></a>
      <button [disabled]="!licence.phase5" *ngIf="username === licence.createdBy" type="button" name="button" class="btn btn-lg btn-success" (click)="CompleteWorks(licence._id)">Job Complete</button>    
    <!-- Panel Footer Start -->
    <div class="panel-footer">
      <strong>Posted by: </strong>{{ licence.createdBy }}
      <br />
      <strong>Date: </strong>{{ licence.createdAt | date:'dd MMM yyyy hh:mm a' }}
      <br />
     <!--  <div *ngIf="username === licence.createdBy">
        <strong>Likes: </strong>{{ licence.likes }}
        <br />
        <strong>Dislikes: </strong>{{ licence.dislikes }}
      </div> -->

      <!-- Edit Button -->
      <a [routerLink]="['/edit-licence/', licence._id]" *ngIf="username === licence.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <!-- Delete Button -->
      <a [routerLink]="['/delete-licence/', licence._id]" *ngIf="username === licence.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
      <!-- Close Button -->
      <a [routerLink]="['/closed-licence/', licence._id]" *ngIf="username === licence.createdBy"><button type="button" name="button" class="btn btn-sm btn-success">Close</button></a>

      <!-- Likes Dropdown  -->
      <!-- <div class="dropdown"> -->
        <!-- Like Button -->
        <!-- <button [disabled]="licence.likedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-success" *ngIf="username !== licence.createdBy" (click)="likeLicence(licence._id)"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: {{ licence.likes }}</button>
        --> <!-- Dropdown Menu Items -->
       <!--  <div class="dropdown-content">
          <a [routerLink]="['/user/', liker]" *ngFor="let liker of licence.likedBy">{{ liker }}</a>
        </div>
      </div> -->

      <!-- Dislikes Dropdown  -->
      <!-- <div class="dropdown"> -->
        <!-- Dislike Button -->
<!--         <button [disabled]="licence.dislikedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-warning" *ngIf="username !== licence.createdBy" (click)="dislikeLicence(licence._id)"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: {{ licence.dislikes }}</button>
         --><!-- Dropdown Menu Items -->
        <!-- <div class="dropdown-content">
          <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of licence.dislikedBy">{{ disliker }}</a>
        </div>
      </div> -->

    </div>
    <!-- Panel Footer End -->

    <!-- Post Comment Box: Start -->
    <ul class="list-group">
      <li class="list-group-item">
        <!-- Post Comment Button -->
        <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(licence._id)" [disabled]="newComment.indexOf(licence._id) > -1">Post Comment</button>
        <br />
        <br />
        <div *ngIf="newComment.indexOf(licence._id) > -1">

          <!-- Form: Comment Form Start -->
          <form [formGroup]="commentForm">
            <!-- Textarea Input -->
            <label for="comment">Reply</label>
            <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
            <h5>Please attach files(Location map, Working area, TM plans)</h5>
            <input type="file" name="attachement" placeholder="upload files" (change)="fileChangeEvent($event)" accept="image/jpg, image/jpeg, image/png, application/pdf"  multiple  />
            <ul  class="list-unstyled" *ngFor="let names of this.upl">
              <li >{{names}}</li>
            </ul>
            <!-- Validation -->
            <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
              <ul class="help-block">
                <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
                <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
              </ul>
            </div>
            <!-- Post Button -->
            <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(licence._id)">Post</button>
            <!-- Cancel Button -->
            <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(licence._id)">Cancel</button>
          </form>
          <!-- Form: Comment Form End -->

        </div>

        <!-- Show Comments -->
        <li *ngIf="enabledComments.indexOf(licence._id) === -1 && licence.comments.length > 0" class="list-group-item">
          <button  class="btn btn-sm btn-info" (click)="expand(licence._id)">
            Show comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </button>
        </li>

        <!-- Hide Comments -->
        <li *ngIf="enabledComments.indexOf(licence._id) > -1" class="list-group-item">
          <button class="btn btn-sm btn-info" (click)="collapse(licence._id)">
            Hide Comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </button>
        </li>

        <!-- Comment -->
        <div *ngIf="enabledComments.indexOf(licence._id) > -1">
          <li *ngFor="let comment of licence.comments" class="list-group-item">
            <strong>{{ comment.commentator }}:</strong>
            <br /> {{ comment.comment }} 
            <ul><li *ngFor="let attachement of comment.attachements">{{attachement}}&nbsp;&nbsp;<a class="btn btn-sm btn-success" href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{attachement}}?alt=media"  role="button" target="_blank">Download</a></li></ul>
            <strong>Created at:{{comment.createdTime | date:'dd MMM yyyy hh:mm a'}}</strong>
          </li>
          
        </div>
      </ul>
    <!-- Post Comment Box: End -->
    </div>
  </div>
  <br />
  <br />
  
  <!-- Panel Outer Layer -->
</div>
<!-- Panel End --> 

