<h1 class="page-header">Licences Feed</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- New Post Button -->
<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newLicenceForm()">New Licence</button>

<!-- Reload Button -->
<button [disabled]="loadingLicences" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadLicences()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<!-- Notifications Button -->
<div class="dropdown" *ngIf="!newPost">
  <!-- Dislike Button -->
  <button type="button" name="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-bell">&nbsp;</span>Notifications  <span class="badge">{{this.co}}</span></button>
  <!-- Dropdown Menu Items -->
  <div class="dropdown-content">
    <div  *ngFor="let notification of Notifications"><div *ngIf="(notification.author !== username) && (!notification.seen.includes(username)) "><tr>
        <td ><strong>{{notification.author}}</strong> made some changes on <strong>{{notification.changesTo}}</strong> at <strong>{{notification.createdAt | date:'dd MMM yyyy hh:mm a'}}</strong>.</td>
      <td><span class="glyphicon glyphicon-remove " (click)="seenNotification(notification._id)"></span></td>
      
    </tr>
    </div></div>
  </div>
  <a [routerLink]="['/closed-licence/']"><button type="button" name="button" class="btn btn-sm btn-danger">Closed Licences</button></a>
  </div>
<br />
<br />

<!-- New Licence Forms -->
<form [formGroup]="form" name="licenceForm" (submit)="onLicenceSubmit() " *ngIf="newPost">
  <!-- Title Input -->
  <div class="row">
  <div class="form-group col-md-9">
    <label for="title">Title</label>
    <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
      <!-- Title Input -->
      <input type="text" name="title" class="form-control" placeholder="*Licence Title" autocomplete="off" formControlName="title" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or number</li>
      </ul>
    </div>
  </div>
  <div class="form-group col-md-3">
    <label for="LicenceNo">LicenceNo</label>
    <div [ngClass]="{'has-success': form.controls.LicenceNo.valid, 'has-error': form.controls.LicenceNo.dirty && form.controls.LicenceNo.errors}">
  <!-- Licence Input -->
  <input type="text" name="LicenceNo" class="form-control" placeholder="*Licence Number" autocomplete="off" formControlName="LicenceNo" />
  <!-- Validation -->
  <ul class="help-block">
    <li *ngIf="form.controls.LicenceNo.dirty && form.controls.LicenceNo.errors?.required">This field is required.</li>
    <li *ngIf="(form.controls.LicenceNo.dirty && form.controls.LicenceNo.errors?.minlength) || (form.controls.LicenceNo.dirty && form.controls.LicenceNo.errors?.maxlength)">Only 5 Digits</li>
    <li *ngIf="form.controls.LicenceNo.dirty && form.controls.LicenceNo.errors?.NumericValidation2">Must be a number</li>
  </ul>
</div>
</div></div>
<div class="row">
<div class="form-group col-md-9">
  <label for="Client">Client</label>
  <div [ngClass]="{'has-success': form.controls.Client.valid, 'has-error': form.controls.Client.dirty && form.controls.Client.errors}">
<!-- Client Input -->
<input type="text" name="Client" class="form-control" placeholder="*Client" autocomplete="off" formControlName="Client" />
<!-- Validation -->
<ul class="help-block">
  <li *ngIf="form.controls.Client.dirty && form.controls.Client.errors?.required">This field is required.</li>
  <li *ngIf="(form.controls.Client.dirty && form.controls.Client.errors?.minlength) || (form.controls.Client.dirty && form.controls.Client.errors?.maxlength)">Max length: 25, Min length: 3</li>
  <li *ngIf="form.controls.Client.dirty && form.controls.Client.errors?.alphaNumericValidation">Must be a letter or number</li>
</ul>
</div>
</div>
<div class="form-group col-md-3">
  <label for="StartDate">StartDate</label>
<!-- StartDate Input -->
<input type="date" name="StartDate" class="form-control" placeholder="*StartDate"  formControlName="StartDate" />
</div></div>

<div class="row">
  <div class="form-group col-md-9">
    <label for="Address">Address</label>
    <div [ngClass]="{'has-success': form.controls.Address.valid, 'has-error': form.controls.Address.dirty && form.controls.Address.errors}">
  <!-- Client Input -->
  <input type="text" name="Address" class="form-control" placeholder="*Address" autocomplete="off" formControlName="Address" />
  <!-- Validation -->
  <ul class="help-block">
    <li *ngIf="form.controls.Address.dirty && form.controls.Address.errors?.required">This field is required.</li>
    <li *ngIf="(form.controls.Address.dirty && form.controls.Address.errors?.minlength) || (form.controls.Address.dirty && form.controls.Address.errors?.maxlength)">Max length: 200, Min length: 10</li>
  </ul>
  </div>
  </div>
  <div class="form-group col-md-3"><a class="btn btn-success" (click)="getGeolocation()">Get my Location</a><div *ngIf="this.location">Latitude:{{location.latitude}} Longitude:{{location.longitude}}</div></div>
</div>
<div class="row">
<div class="form-group col-md-6">
  <label for="SpeedOfRoad">Speed Of Road</label>
    <!-- SpeedOfRoad Input -->
      <select class="form-control" name="SpeedOfRoad" formControlName="SpeedOfRoad">
        <option >30Km/h</option>
        <option>40Km/h</option>
        <option>50Km/h</option>
        <option class="selected">60Km/h</option>
        <option>80Km/h</option>
        <option>100Km/h</option>
        <option>120Km/h</option>
      </select>
</div>

<div class="form-group col-md-6">
  <label for="LicenceRequired">Licence Required</label>
    <!-- LicenceRequired Input -->
      <select class="form-control" name="LicenceRequired" formControlName="LicenceRequired">
        <option >Yes</option>
        <option>No</option>
      </select>
</div></div>
<div class="row">
<div class="form-group col-md-6">
  <label for="RoadWidth">Road Width(in meters)</label>
  <div [ngClass]="{'has-success': form.controls.RoadWidth.valid, 'has-error': form.controls.RoadWidth.dirty && form.controls.RoadWidth.errors}">
<!-- Road Width Input -->
<input type="text" name="RoadWidth" class="form-control" placeholder="*RoadWidth" autocomplete="off" formControlName="RoadWidth" />
<!-- Validation -->
<ul class="help-block">
  <li *ngIf="form.controls.RoadWidth.dirty && form.controls.RoadWidth.errors?.required">This field is required.</li>
  <li *ngIf="(form.controls.RoadWidth.dirty && form.controls.RoadWidth.errors?.minlength) || (form.controls.RoadWidth.dirty && form.controls.RoadWidth.errors?.maxlength)">Max length: 4, Min length: 1</li>
  <li *ngIf="form.controls.RoadWidth.dirty && form.controls.RoadWidth.errors?.NumericValidation">Must be a number</li>
</ul>
</div>
</div>

<div class="form-group col-md-6">
  <label for="CarriagewayType">Carriageway Type</label>
    <!-- CarriagewayType Input -->
      <select class="form-control" name="CarriagewayType" formControlName="CarriagewayType">
        <option >Single</option>
        <option>Dual</option>
      </select>
</div></div>
<div class="row">
<div class="form-group col-md-6">
  <label for="RoadLevel">Road Level</label>
  <!-- RoadLevel Input -->
      <select class="form-control" name="RoadLevel" formControlName="RoadLevel">
        <option >1&amp;2</option>
        <option>3</option>
        <option>4</option>
        <option>5&amp;6</option> 
      </select>
</div>

<div class="form-group col-md-6">
  <label for="Volume">Volume(3 min count)</label>
  <div [ngClass]="{'has-success': form.controls.Volume.valid, 'has-error': form.controls.Volume.dirty && form.controls.Volume.errors}">
<!-- Volume Input -->
<input type="text" name="Volume" class="form-control" placeholder="*Volume" autocomplete="off" formControlName="Volume" />
<!-- Validation -->
<ul class="help-block">
  <li *ngIf="form.controls.Volume.dirty && form.controls.Volume.errors?.required">This field is required.</li>
  <li *ngIf="(form.controls.Volume.dirty && form.controls.Volume.errors?.minlength) || (form.controls.Volume.dirty && form.controls.Volume.errors?.maxlength)">Max length: 4, Min length: 1</li>
  <li *ngIf="form.controls.Volume.dirty && form.controls.Volume.errors?.NumericValidation">Must be a number</li>
</ul>
</div>
</div></div>
<div class="row">
<div class="form-group col-md-6">
  <label for="WorksType">Works Type</label>
  <!-- WorksType Input -->
      <select class="form-control" name="WorksType" formControlName="WorksType">
        <option selected>A</option>
        <option>B</option>
        <option>C</option>
      </select>
</div>

<div class="form-group col-md-6">
  <label for="WorksHours">Works Hours</label>
  <!-- WorksType Input -->
      <select class="form-control" name="WorksHours" formControlName="WorksHours" >
        <option selected>24Hrs</option>
        <option>Day</option>
        <option>Night</option>
        <option>Short</option>  
      </select>
</div></div>
<div class="row">
<div class="form-group col-md-6">
  <label for="LocationOnRoad">Location On Road</label>
  <!-- WorksType Input -->
      <select class="form-control" name="LocationOnRoad" formControlName="LocationOnRoad">
        <option selected>Path</option>
        <option>H/S</option>
        <option>Bus Lane</option>
        <option>Lane</option> 
      </select>
</div>

<div class="form-group col-md-6">
  <label for="TypeOfTrafficCR">Type Of Traffic Control Required</label>
  <!-- TypeOfTrafficCR Input -->
      <select class="form-control" name="TypeOfTrafficCR" formControlName="TypeOfTrafficCR">
        <option selected>Road Closed</option>
        <option>Lane Closed</option>
        <option>Traffic Lights</option>
        <option>Stop&amp;Go</option>
        </select>
</div></div>

  <!-- Body Input -->
  <div class="form-group ">
    <label for="body">Description</label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
      <!-- Body Input -->
      <textarea name="body" rows="8" cols="80" placeholder="*Description" class="form-control" formControlName="body"></textarea>
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500, Min length: 5</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-7" style = "border: 1px solid red ;"><h5>See some examples of photos that you may upload</h5>
      <img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/example3.JPG?alt=media" alt="" width="200" height="100">
      <img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/example2.JPG?alt=media" alt="" width="200" height="100">
      <img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/example1.JPG?alt=media" alt="" width="200" height="100">
      <br />
      <br />
    </div>
    <div class="col-md-12"><h4>Please attach photos(Location map, Working area)</h4>
  <input type="file" name="photo" placeholder="upload files" (change)="fileChangeEvent($event)" accept="image/jpg, image/jpeg, image/png, application/pdf"  multiple  />
  <ul  class="list-unstyled" *ngFor="let names of this.upl">
    <li >{{names}}</li>
  </ul></div>
  
</div>

  <!-- Go Back Button -->
  <div class="col-md-12"><br />
    <br /><button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
  <!-- Submit Button -->
  <button [disabled]="processing  || !form.valid" type="submit" name="button" class="btn btn-success" >Submit</button> <!-- (click)="upload()" -->
  </div>
</form>
<!-- New Licence Form -->

<!-- Panel Start -->
<div *ngIf="!newPost">
  <!-- Panel Outer Layer -->
  <div  *ngFor="let licence of licencePosts">
<div class="panel panel-primary" *ngIf="!licence.close && (role === 'TMP' || licence.createdBy === username) ">
    <!-- Panel Title -->
    <div class="panel-heading">
      <h3 class="panel-title">{{ licence.title }} {{ licence.LicenceNo }}</h3>
    </div>

    <!-- Panel Body -->
    
    <div class="panel-body">
      <div class="col-md-6">
      <ul class="list-unstyled">
        <li><strong>Client: </strong> {{licence.Client}}</li>
        <li><strong>Address: </strong> {{licence.Address}}</li>
        <li><strong>Licence Required: </strong> {{licence.LicenceRequired}}</li>
        <li><strong>StartDate:</strong> {{licence.StartDate}}</li>
        <li><strong>SpeedOfRoad:</strong> {{licence.SpeedOfRoad}}</li>
        <li><strong>RoadWidth:</strong> {{licence.RoadWidth}} m</li>
        <li><strong>CarriagewayType:</strong> {{licence.CarriagewayType}}</li>
        <li><strong>RoadLevel:</strong> {{licence.RoadLevel}}</li>
        <li><strong>Volume:</strong> {{licence.Volume}} (3 min count)</li>
        <li><strong>WorksType:</strong> {{licence.WorksType}}</li>
        <li><strong>WorksHours:</strong> {{licence.WorksHours}}</li>
        <li><strong>LocationOnRoad:</strong> {{licence.LocationOnRoad}}</li>
        <li><strong>Type Of Traffic Control Required:</strong> {{licence.TypeOfTrafficCR}}</li>
        <li><strong>Description:</strong> {{ licence.body }} </li>
        <li><a *ngIf="licence.LocationMap" class="btn btn-sm btn-info" href="https://www.google.ie/maps/search/{{ licence.LocationMap }}" target="_blank">See on Map by Coordonates</a>
            <a class="btn btn-sm btn-success" href="https://www.google.ie/maps/search/{{ licence.Address }}" target="_blank">See on Map by Address</a></li>
      </ul>
    </div>
    <div class="col-md-6" *ngFor="let ph of licence.path">
      <a  href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{ph}}?alt=media" target="_blank"><img src="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{ph}}?alt=media" alt="" width="200" height="100"></a>
      {{ph}}&nbsp;&nbsp;<a  class="btn btn-sm btn-success" href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{ph}}?alt=media"  role="button" target="_blank" >Download</a><br/><br/>
    </div></div>

    <!-- Panel Footer Start -->
    <div class="panel-footer">
      <strong>Posted by: </strong>{{ licence.createdBy }}
      <br />
      <strong>Date: </strong>{{ licence.createdAt | date:'dd MMM yyyy hh:mm a' }}
      <br />
     <!--  <div *ngIf="username === licence.createdBy">
        <strong>Likes: </strong>{{ licence.likes }}
        <br />
        <strong>Dislikes: </strong>{{ licence.dislikes }}
      </div> -->

      <!-- Edit Button -->
      <a [routerLink]="['/edit-licence/', licence._id]" *ngIf="username === licence.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <!-- Delete Button -->
      <a [routerLink]="['/delete-licence/', licence._id]" *ngIf="username === licence.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
      <!-- Close Button -->
      <a [routerLink]="['/closed-licence/', licence._id]" *ngIf="username === licence.createdBy"><button type="button" name="button" class="btn btn-sm btn-success">Close</button></a>

      <!-- Likes Dropdown  -->
      <!-- <div class="dropdown"> -->
        <!-- Like Button -->
        <!-- <button [disabled]="licence.likedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-success" *ngIf="username !== licence.createdBy" (click)="likeLicence(licence._id)"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: {{ licence.likes }}</button>
        --> <!-- Dropdown Menu Items -->
       <!--  <div class="dropdown-content">
          <a [routerLink]="['/user/', liker]" *ngFor="let liker of licence.likedBy">{{ liker }}</a>
        </div>
      </div> -->

      <!-- Dislikes Dropdown  -->
      <!-- <div class="dropdown"> -->
        <!-- Dislike Button -->
<!--         <button [disabled]="licence.dislikedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-warning" *ngIf="username !== licence.createdBy" (click)="dislikeLicence(licence._id)"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: {{ licence.dislikes }}</button>
         --><!-- Dropdown Menu Items -->
        <!-- <div class="dropdown-content">
          <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of licence.dislikedBy">{{ disliker }}</a>
        </div>
      </div> -->

    </div>
    <!-- Panel Footer End -->

    <!-- Post Comment Box: Start -->
    <ul class="list-group">
      <li class="list-group-item">
        <!-- Post Comment Button -->
        <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(licence._id)" [disabled]="newComment.indexOf(licence._id) > -1">Post Comment</button>
        <br />
        <br />
        <div *ngIf="newComment.indexOf(licence._id) > -1">

          <!-- Form: Comment Form Start -->
          <form [formGroup]="commentForm">
            <!-- Textarea Input -->
            <label for="comment">Reply</label>
            <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
            <h5>Please attach files(Location map, Working area, TM plans)</h5>
            <input type="file" name="attachement" placeholder="upload files" (change)="fileChangeEvent($event)" accept="image/jpg, image/jpeg, image/png, application/pdf"  multiple  />
            <ul  class="list-unstyled" *ngFor="let names of this.upl">
              <li >{{names}}</li>
            </ul>
            <!-- Validation -->
            <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
              <ul class="help-block">
                <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
                <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
              </ul>
            </div>
            <!-- Post Button -->
            <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(licence._id)">Post</button>
            <!-- Cancel Button -->
            <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(licence._id)">Cancel</button>
          </form>
          <!-- Form: Comment Form End -->

        </div>

        <!-- Show Comments -->
        <li *ngIf="enabledComments.indexOf(licence._id) === -1 && licence.comments.length > 0" class="list-group-item">
          <button  class="btn btn-sm btn-info" (click)="expand(licence._id)">
            Show comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </button>
        </li>

        <!-- Hide Comments -->
        <li *ngIf="enabledComments.indexOf(licence._id) > -1" class="list-group-item">
          <button class="btn btn-sm btn-info" (click)="collapse(licence._id)">
            Hide Comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </button>
        </li>

        <!-- Comment -->
        <div *ngIf="enabledComments.indexOf(licence._id) > -1">
          <li *ngFor="let comment of licence.comments" class="list-group-item">
            <strong>{{ comment.commentator }}:</strong>
            <br /> {{ comment.comment }} 
            <ul><li *ngFor="let attachement of comment.attachements">{{attachement}}&nbsp;&nbsp;<a class="btn btn-sm btn-success" href="https://firebasestorage.googleapis.com/v0/b/upload-rnce.appspot.com/o/{{attachement}}?alt=media"  role="button" target="_blank">Download</a></li></ul>
            <strong>Created at:{{comment.createdTime | date:'dd MMM yyyy hh:mm a'}}</strong>
          </li>
          
        </div>
      </ul>
    <!-- Post Comment Box: End -->
    </div>
  </div>
  <br />
  <br />
  
  <!-- Panel Outer Layer -->
</div>
<!-- Panel End --> 

