<h1 class="page-header">Edit Licence</h1>

<!-- Custom Success/Erro Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Edit Licence Form -->
<form (submit)="updateLicenceSubmit()" *ngIf="!loading">
  <!-- Title Field -->
  <div class="row">
  <div class="form-group col-md-9">
    <label for="title">Title</label>
    <!-- Title Input -->
    <input [disabled]="processing" type="text" name="title" placeholder="*Licence Title" class="form-control" [(ngModel)]="licence.title" #title="ngModel" />
  </div>
  </div>
  <!-- RefNo Field -->
  <div class="row">
      <div class="form-group col-md-9">
        <label for="RefNo">Ref No</label>
        <!-- Title Input -->
        <input [disabled]="processing" type="text" name="RefNo" placeholder="*Licence RefNo" class="form-control" [(ngModel)]="licence.RefNo" #RefNo="ngModel" />
      </div>
      </div>
  <div class="row">
  <div class="form-group col-md-9">
    <label for="Client">Client</label>
    <!-- Client Input -->
    <input [disabled]="processing" type="text" name="Client" placeholder="*Client" class="form-control" [(ngModel)]="licence.Client" #Client="ngModel" />
  </div>
  <div class="form-group col-md-3">
    <label for="StartDate">StartDate</label>
  <!-- StartDate Input -->
  <input [disabled]="processing" type="date" name="StartDate" placeholder="*StartDate" class="form-control" [(ngModel)]="licence.StartDate" #StartDate="ngModel" />
  </div></div>
  <div class="row">
      <div class="form-group col-md-7">
          <label for="Address">Address</label>
          <!-- Client Input -->
          <input [disabled]="processing" type="text" name="Address" placeholder="*Address" class="form-control" [(ngModel)]="licence.Address" #Address="ngModel" />
        </div>

  </div>
  <div class="row">

    <div class="form-group col-md-6">
      <label for="LicenceType">Licence Type</label>
        <!-- SpeedOfRoad Input -->
          <select [disabled]="processing" class="form-control" name="LicenceType" [(ngModel)]="licence.LicenceType" #LicenceType="ngModel">
            <option >T2</option>
            <option>T3</option>
            <option>T4</option>
          </select>
    </div>
    <div class="form-group col-md-6">
      <label for="TMType">Licence Required</label>
        <!-- SpeedOfRoad Input -->
          <select [disabled]="processing" class="form-control" name="TMType" [(ngModel)]="licence.TMType" #TMType="ngModel">
            <option >Specific</option>
            <option>Generic</option>
          </select>
    </div>
</div>
  <div class="row">
  <div class="form-group col-md-6">
    <label for="WorkWidth">Work Width(in meters)</label>
    <!-- WorkWidth Input -->
    <input [disabled]="processing" type="text" name="WorkWidth" placeholder="*Road Width" class="form-control" [(ngModel)]="licence.WorkWidth" #WorkWidth="ngModel" />
  </div>

  <div class="form-group col-md-6">
    <label for="WorkLength">Work Length(in meters)</label>
    <!-- WorkLength Input -->
    <input [disabled]="processing" type="text" name="WorkLength" placeholder="*Road Width" class="form-control" [(ngModel)]="licence.WorkLength" #WorkLength="ngModel" />
  </div>

  </div>



  <!-- Body Field -->
  <div class="form-group">
    <label for="body">Description</label>
    <!-- Body Input -->
    <textarea [disabled]="processing" name="body" rows="8" cols="80" [(ngModel)]="licence.body" #body="ngModel" class="form-control" placeholder="*Description"></textarea>
  </div>

  <!-- Delete Button -->
  <a [routerLink]="['/delete-licence/', licence._id]"><button  [disabled]="processing"  type="button" name="button" class="btn btn-danger">Delete</button></a>
  <!-- Go Back Button -->
  <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="goBack()">Go Back</button>
  <!-- Save Changes Button -->
  <button [disabled]="processing ||
   (!title.dirty && !body.dirty && !LicenceType.dirty && !Client.dirty && !StartDate.dirty && !WorkLength.dirty
   && !WorkWidth.dirty && !Address.dirty && !TMType.dirty && !RefNo.dirty)"
   type="submit" name="save" class="btn btn-info">Save Changes</button>

</form>






